@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

@using(Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type, new {@class = "form-control", @required = "required"})
  </div>

  <input type="submit" value="Add Machine"/>
}