@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit this Machine</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <div class="form-group">
    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type, new {@class="form-control", @required = "required"})
  </div>

  <input type="submit" value="Save"/>
}