@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit this Engineer</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new {@class = "form-control", @required = "required"})
  </div>

  <input type="submit" value="Save"/>
}